.header {
    gap: 3rem;
    margin: 3rem auto 5rem auto;
    width: 90%;
    max-width: 75rem;
    color: #ddd6cb;
    font-size: 1.5rem;
  }
  
  .header h1 {
    font-family: 'Montserrat', sans-serif;
  }
  
  .highlight {
    background: linear-gradient(90deg, #f9572a, #ff8a05);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .header p {
    margin: 0;
  }

  .page_container {
    padding: 0.5rem 10%;
    margin-left: auto;
    margin-right: auto;
  }
  
 
.customBtn,
.customBtn_border {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  font-family: Jost, Sans-serif;
  box-shadow: none;
  text-decoration: none;
  flex-direction: row;
  position: relative;
  background-color: #FE6A13;
  overflow: hidden;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  padding: 15px 30px;
  transition: all .3s linear;
  z-index: 1;
  color: #fff;
  border: 2px solid #FE6A13;;
}

.customBtn:hover,
.customBtn_border:hover{
  color: #FE6A13;
}

.customBtn:before,
.customBtn_border::before {
    -webkit-transition-duration: .6s;
    transition-duration: .6s;
    position: absolute;
    width: 200%;
    height: 200%;
    content: "";
    top: 110%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    border-radius: 50%;
    z-index: -1;
    background: #fff;
}

.customBtn:hover:before,
.customBtn_border:hover:before {
    top: -40%;
}


.customBtn_border{
  background: transparent;
  color: #fff;
  border-color: #fff;
}
  
  .loading {
    text-align: center;
    animation: loading 1.2s ease-in-out infinite;
  }
  
  @keyframes loading {
    0% {
      color: #e9e9e9;
    }
    50% {
      color: #b89b84;
    }
    100% {
      color: #e9e9e9;
    }
  }

  .loading {
  text-align: center;
  animation: loading 1.2s ease-in-out infinite;
}

@keyframes loading {
  0% {
    color: #e9e9e9;
  }
  50% {
    color: #b89b84;
  }
  100% {
    color: #e9e9e9;
  }
}



.innerBanner{
  position: relative;
 
}

.innerBannerImg{
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

.innerBannerContent{
  z-index: 1;
  color: #9c9d9d;
   padding: 45px 0;
   background-color: rgba(0,0,0,0.5);
}

.innerBannerContent h1{
  margin-bottom: 15px;
  color: #fff;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  font-family: Montserrat, sans-serif;
}

.innerBannerContent p{
  margin-bottom: 20px;
}