.page_container {
  padding: 0.5rem 10%;
  margin-left: auto;
  margin-right: auto;
}
.section {
 padding: 20px 0;
 background-color: #1a1a1a;
  color: #9c9d9d;
  font-size: 14px;
}

.text_center{
    text-align: center;
}